@page "/Tabel/Profil"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject NyDatingApp1.Data.datingdatabase Db
@using NyDatingApp1.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

<PageTitle>Profil</PageTitle>

<h3>Profil</h3>




<QuickGrid Class="table" Items="Db.Profiles">
    <PropertyColumn Property="Profile =>Profile.UserName " />
    <PropertyColumn Property="Profile =>Profile.AboutMe " />
    <PropertyColumn Property="Profile =>Profile.BirthDate " />
    <PropertyColumn Property="Profile =>Profile.Height " />
    <PropertyColumn Property="Profile => Profile.City.CityName" />
</QuickGrid>


@code {
    private List<Profile> profiles;

    protected override async Task OnInitializedAsync()
    {
        profiles = await Db.Profiles.Include(p => p.City).ToListAsync();
    }
}